PORT=3002
MONGO_URI=mongodb://localhost:27017/eventdb
AUTH_SERVICE_URL=http://15.207.106.76:3001
CLOUDINARY_CLOUD_NAME=replace-with-cloudinary-cloud-name
CLOUDINARY_API_KEY=replace-with-cloudinary-api-key
CLOUDINARY_API_SECRET=replace-with-cloudinary-api-secret
