PORT=3003
MONGO_URI=mongodb://localhost:27017/bookingdb
EVENT_SERVICE_URL=http://localhost:3002
AUTH_SERVICE_URL=http://localhost:3001
CLOUDINARY_CLOUD_NAME=replace-with-cloudinary-cloud-name
CLOUDINARY_API_KEY=replace-with-cloudinary-api-key
CLOUDINARY_API_SECRET=replace-with-cloudinary-api-secret
